<div class="container-fluid vh-100 d-flex justify-content-center align-items-center login-container">
    <div class="row w-100">
      <!-- Left Side -->
      <div class="col-lg-6 col-md-12 d-flex align-items-center justify-content-center yellow-box">
        <div class="text-center">
          <h1 class="text-light">Welcome</h1>
          <h2 class="text-light">MTN Staff SFE</h2>
          <button class="btn btn-outline-light mt-3">Terms & Conditions</button>
        </div>
      </div>
  
      <!-- Right Side -->
      <div class="col-lg-6 col-md-12 d-flex align-items-center justify-content-center">
        <div class="login-form">
          <form (submit)="onLogin()">
            <div class="form-group mb-3">
              <label for="email" class="sr-only">Email</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-user"></i></span>
                </div>
                <input type="email" class="form-control" id="email" placeholder="Your Email">
              </div>
            </div>
  
            <div class="form-group mb-3">
              <label for="password" class="sr-only">Password</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-lock"></i></span>
                </div>
                <input type="password" class="form-control" id="password" placeholder="Password">
              </div>
              <a href="#" class="text-muted">Forget Password?</a>
            </div>
  
            <button type="submit" class="btn btn-outline-dark btn-block">Sign In</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  